# This file defines the simbev parameters

[region_mode]
# you can either define a scenario for a single region using this config file
# (mode = single_region) or for multiple regions (mode = multi_region)

region_mode = multi


[basic]
# basic parameters for the simulation
# ===========================
# definition of regional type to use for simulating driving behaviour
# efficiency of charging points
# timesteps (should stay at 15 min, best results)
# number of days to simulate, max: 14, suggested: 14 for best results
# minimum soc allowed before fast charging event is triggered

eta_cp =  1
stepsize = 15
start_date = 2021-09-17
end_date = 2021-09-30
soc_min = 0.2
cutoff_dates = (3, 6, 9, 12)
weekdays = 7
min_per_day = 1440


[rampup_ev]
# rampup: number of EVs per region

rampup = regions.csv


[tech_data]
# tech data for EVs

tech_data = tech_data.csv


[charging_probabilities]
# charging probabilities for all locations

slow = charging_point_probability.csv
fast = fast_charging_probability.csv


[sim_params]
# simulation parameters

num_threads = 4
seed = 3