# This file defines the simbev parameters

[basic]
# basic parameters for the simulation
# ===========================
# input_type: choose what kind of input is used for driving profiles (Options: probability or profile)
# input_directory: specify where the input data is located
# eta_cp: efficiency of charging points
# stepsize: step size of simulation (should stay at 15 min, best results)
# start and end date of simulation in format YYYY-MM-DD
# soc_min: minimum percentage of battery charge left after a drive
# distance_threshold_extra_urban: defines from what distance of a drive, the drive is seen as extra urban
# consumption_factor_highway: factor for change of consumption on drives that are further than distance_threshold_extra_urban
# vehicle_csv: output csv per individual vehicle, can be disabled if only looking for grid timeseries
# max_occupation_time: time of max. occupation of charging_points in hours
# maximum_park_time_flag: charging events are only started if the parking event isn't longer than the maximum_park_time
# maximum_park_time: maximum public park time in hours (requires maximum_park_time_flag = True)
# home_night_charging_flag: only allow night street charging at home (not other locations)

input_type = probability
input_directory = data/probability
eta_cp =  1
stepsize = 15
start_date = 2021-09-17
end_date = 2021-09-30
soc_min = 0.2
charging_threshold = 0.8
distance_threshold_extra_urban = 50
consumption_factor_highway = 1.2
dc_power_threshold = 50
threshold_retail_limitation = 21
threshold_street_night_limitation = 21
maximum_park_time_flag = False
maximum_park_time = 10
lower_maximum_park_time_street_night = 8
upper_maximum_park_time_street_night = 12
street_night_charging_flag = True
home_night_charging_flag = False
night_departure_standard_deviation = 1
night_departure_time = 9


[output]
# vehicle_csv: decide if you want a output csv-file for each car simulated
# grid_time_series_csv: decide if you want a output csv-file for all cars per uc
# plot_grid_time_series_split: decide if you want a plot png-file for each region simulated
# plot_grid_time_series_collective: decide if you want a plot png-file for all regions simulated in one plot
vehicle_csv = true
grid_time_series_csv = true
plot_grid_time_series_split = false
plot_grid_time_series_collective = false
analyze = false
timing = false


[rampup_ev]
# rampup: number of EVs per region

rampup = regions.csv


[tech_data]
# tech data for EVs
# the tech data file can either include set values for slow and fast charging or be based on probability
tech_data = tech_data.csv
# tech_data = tech_data_by_probability.csv
charging_curve = charging_curve.csv
hpc_data = hpc_config.csv

[user_data]
user_groups = user_groups.csv

[charging_probabilities]
# charging probabilities for all locations
# share of private charging at home/work, 1 equals 100%
slow = charging_probability.csv
fast = fast_charging_probability.csv
# use_case = charging_probability_by_usecase.csv
home_work_private = home_work_private.csv
energy_min = energy_min.csv

[sim_params]
# simulation parameters
# scaling: a scaling of 10 will calulate only 1/10th of the cars. Outputs are always based on input amounts
# num_threads: number of threads to use for multiprocessing (max 1 per region)
# seed: rng seed. Same inputs with same options, same seed and same SimBEV version should lead to the same result
# private_only_run: Attempt to charge each vehicle only with private charging infrastructure. Only use public charging if necessary
scaling = 1
num_threads = 4
seed = 3
driving_profile_seed = 10
private_only_run = false